# data and logs
videos
dataset_original
dataset_configs
dataset_processed
logs
logs*
*logs
*.log

# vscode
.vscode*

# temp files
.test
.DS_Store
__pycache__
*.pyc
*temp
temp*

# Other files
playground.ipynb
weights

# Ignore previous models
resonance
socialCircle
